{{#each this}}
    <li class="table__item">
        <div class="icon">
            <svg viewBox="0 0 24 24" fill='#fff'>
                <path d='{{icon}}' />
            </svg>
        </div>
        <div class="cell">{{name}}</div>
        <div class="cell">{{created}}</div>
        <div class="cell">{{category}}</div>
        <div class="cell cell_content">{{content}}</div>
        <div class="cell">
            {{dates}}
        </div>
        <div class="cell">
            <button class="unarchive" data-id="{{id}}"></button>
        </div>
    </li>
{{/each}}